<html>
  <head>
    <title>Trial Requested</title>
    {{> meta}}
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      {{> header}}
      <div class="norland-inner">
        <h1>Trial Requested</h1>
        <p>Dear {{nannyFirstName}},</p>
        <p>Congratulations, <strong>{{clientFirstName}} {{clientLastName}}</strong> has requested to book an interview with you for <strong>{{jobFriendlyId}}, {{jobTitle}}</strong>.</p>
        <p>Please use the following details to contact them and arrange a time that suits you both:</p>
        <div class="norland-info">
          <strong>{{clientFirstName}} {{clientLastName}}</strong><br />
          <a href="mailto:{{clientEmailAddress}}">{{clientEmailAddress}}</a><br />
          {{clientMobileNumber}}<br /><br />
          {{clientAddressLine1}}<br />
          {{#if clientAddressLine2}}{{clientAddressLine2}}<br />{{/if}}
          {{clientCity}}<br />
          {{#if clientCounty}}{{clientCounty}}<br />{{/if}}
          {{clientCountry}}<br />
          {{clientPostCode}}
        </div>
        <p>As soon as the trial has been arranged please advise the NQN team via email or direct message as to the date, time and family name/job number of the family who you are meeting. It is very important that you let us know so we can follow up after your trial.</p>
        <p>Following on from your trial, please provide us with written feedback along with the family name/job number as well as whether you would like to move forward with the family or not. If it is the latter, you will be expected to call the family directly to update them on your decision. The NQN team are unable to do this for you.</p>
        <p>If you are struggling to get hold of the family after 48 hours please get in touch with the NQN team.</p>
        <p>If you have any questions in the meantime please do not hesitate to ask.</p>
        <p>Kind regards,</p>
        {{#if jobAdminName}}
        <p><strong>{{jobAdminName}}</strong></p>
        {{else}}
        <p><strong>Norland Agency</strong></p>
        {{/if}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>