<html>
  <head>
    <title>Appointment Booked</title>
    {{> meta}}
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      {{> header}}
      <div class="norland-inner">
        <h1>Appointment Booked</h1>
        <p>Dear {{nannyFirstName}},</p>
        <p>We are delighted to confirm your {{toLowerCase appointmentType}} with <strong>{{clientFirstName}} {{clientLastName}}</strong>  for <strong>{{jobTitle}} ({{jobFriendlyId}})</strong>.</p>
        <p class="norland-appointment norland-space"><strong>{{friendlyDate appointmentDate}}</strong> at <strong>{{appointmentTime}}</strong></p>
        {{#if appointmentMethod}}
          <p class="norland-info">{{longText appointmentMethod}}</p>
        {{/if}}
        <p>You can contact {{clientFirstName}} on: <strong>{{clientMobileNumber}}</strong></p>
        {{#if jobAdminName}}
          <p>If you require further information, please do not hesitate to contact me.</p>
        <p><strong>{{jobAdminName}}</strong></p>
        {{else}}
          <p>If you require further information, please do not hesitate to contact us.</p>
        <p><strong>Norland Agency</strong></p>
        {{/if}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>