<!DOCTYPE html>
<html>
  <head>
    <title>Appointment Booked</title>
    {{> meta}}
    {{> styles}}
  </head>
  <body>
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td align="center">
          {{> header}}
          <table role="presentation" class="container">
            <tr>
              <td>
                <h1>Appointment Booked</h1>
                <p class="bottom-space">Dear {{clientFirstName}},</p>
                <p>We are delighted to confirm your {{toLowerCase appointmentType}} with <strong>{{nannyFirstName}} {{nannyLastName}}</strong>.</p>
                <p class="appointment">{{friendlyDate appointmentDate}} at {{appointmentTime}}</p>

                {{#if appointmentMethod}}
                  <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" class="info">
                    <tr>
                      <td>
                        <p>{{longText appointmentMethod}}</p>
                      </td>
                    </tr>
                  </table>
                {{/if}}

                <p class="bottom-space">You can contact {{nannyFirstName}} on: <strong>{{nannyMobileNumber}}</strong></p>

                {{#if jobAdminName}}
                  <p class="bottom-space">If you require further information, please do not hesitate to contact me.</p>
                  <p><strong>{{jobAdminName}}</strong></p>
                {{else}}
                  <p class="bottom-space">If you require further information, please do not hesitate to contact us.</p>
                  <p><strong>Norland Agency</strong></p>
                {{/if}}
              </td>
            </tr>
          </table>
          {{> footer}}
        </td>
      </tr>
    </table>
  </body>
</html>
