<html>
  <head>
    <title>Interview Requested</title>
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      <div class="norland-space-top">
        <p>Dear {{clientFirstName}},</p>

        <p>Thank you for requesting an interview with {{nannyFirstName}} {{nannyLastName}}.</p>

        <p>We will now pass on your contact details to {{nannyFirstName}} who should be in touch with you over the next 48 hours to arrange a convenient time and date for a first stage interview. First stage interviews can either take place face to face or via video call.</p>

        <p>The number {{nannyFirstName}} will be call you from is {{nannyMobileNumber}}.</p>

        <p>If you require any further support or do not hear from the NQN, please do not hesitate to contact me.</p>

        {{#if jobAdminName}}
        <p>{{jobAdminName}}</p>
        {{else}}
        <p>Norland Agency</p>
        {{/if}}
      </div>
    </div>
  </body>
</html>