<!DOCTYPE html>
<html>
  <head>
    <title>Trial Requested</title>
    {{> meta}}
  </head>
  <body style="margin: 0;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #F0E8E1; margin: 0; padding: 0; font-family: Arial, sans-serif;">
      <tr>
        <td align="center">
          {{> header}}
          <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #FFFFFF; border: 1px solid #EAEBED; padding: 40px 30px; border-radius: 12px; max-width: 600px;">
            <tr>
              <td>
                <h1 style="font-size: 24px; color: #3A3131; font-weight: 600; margin: 0 0 20px; line-height: 1.3;">Trial Requested</h1>
                <p style="font-size: 16px; color: #3A3131; line-height: 1.5; margin: 0 0 20px 0;">Dear {{clientFirstName}},</p>
                <p style="font-size: 16px; color: #3A3131; line-height: 1.5; margin: 0 0 20px 0;">
                  Thank you for requesting a trial with <strong>{{nannyFirstName}} {{nannyLastName}}</strong>.
                </p>
                <p style="font-size: 16px; color: #3A3131; line-height: 1.5; margin: 0 0 20px 0;">
                  We will now pass on your contact details to {{nannyFirstName}}, who should be in touch with you over the next 48 hours to arrange a convenient time and date for a trial.
                </p>
                <p style="font-size: 16px; color: #3A3131; line-height: 1.5; margin: 0 0 20px 0;">
                  The number {{nannyFirstName}} will call you from is <strong>{{nannyMobileNumber}}</strong>.
                </p>
                <p style="font-size: 16px; color: #3A3131; line-height: 1.5; margin: 0 0 20px 0;">
                  If you require any further support or do not hear from {{nannyFirstName}}, please do not hesitate to contact me.
                </p>

                {{#if jobAdminName}}
                  <p style="font-size: 16px; font-weight: bold; line-height: 1.5; margin: 0;">{{jobAdminName}}</p>
                {{else}}
                  <p style="font-size: 16px; font-weight: bold; line-height: 1.5; margin: 0;">Norland</p>
                {{/if}}
              </td>
            </tr>
          </table>
          {{> footer}}
        </td>
      </tr>
    </table>
  </body>
</html>
