<html>
  <head>
    <title>Trial Requested</title>
    {{> meta}}
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      {{> header}}
      <div class="norland-inner">
        <h1>Trial Requested</h1>
        <p>Dear {{clientFirstName}},</p>
        <p>Thank you for requesting a trial with <strong>{{nannyFirstName}} {{nannyLastName}}</strong>.</p>
        <p>We will now pass on your contact details to {{nannyFirstName}} who should be in touch with you over the next 48 hours to arrange a convenient time and date for a trial.</p>
        <p>The number {{nannyFirstName}} will call you from is {{nannyMobileNumber}}.</p>
        <p>If you require any further support or do not hear from {{nannyFirstName}}, please do not hesitate to contact me.</p>
        {{#if jobAdminName}}
          <p>If you require any further support or do not hear from {{nannyFirstName}}, please do not hesitate to contact me.</p>
        <p><strong>{{jobAdminName}}</strong></p>
        {{else}}
          <p>If you require any further support or do not hear from {{nannyFirstName}}, please do not hesitate to contact us.</p>
        <p><strong>Norland Agency</strong></p>
        {{/if}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>