<html>
  <head>
    <title>Contact Information</title>
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      <div class="norland-space-top">
        <p>An application on your job {{jobFriendlyId}} has progressed to {{status}}. The nanny is {{firstName}} {{lastName}} and you can contact them to arrange the next steps.</p>
        <p>Email address: {{emailAddress}}</p>
        {{#if mobilePhoneNumber}}
        <p>Mobile phone number: {{mobilePhoneNumber}}</p>
        {{/if}}
        {{#if homePhoneNumber}}
        <p>Home phone number: {{homePhoneNumber}}</p>
        {{/if}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>