<html>
  <head>
    <title>Request for Verification of Employment Reference</title>
    {{> meta}}
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      {{> header}}
      <div class="norland-inner">
        <h1>Request for Verification of Employment Reference</h1>
        <p>Dear {{clientName}},</p>
        <p>I am reaching out on behalf of Norland Agency. We are currently assisting <strong>{{nannyFirstName}} {{nannyLastName}}</strong> in securing a new position. As part of our standard process, we are seeking to confirm the details of the reference they have provided regarding their period of employment with you.</p>
        <p>Please click the &#39;Verify Reference&#39; button below to review and confirm the details of the reference.</p>
        <a href={{returnUrl}} class="norland-button" target="_blank" rel="noopener noreferrer">Verify Reference</a>
        <p>If you have any additional comments or concerns regarding {{nannyFirstName}}'s performance or employment history, please do not hesitate to share them with me directly.</p>
        <p>Best regards,</p>
        <p><strong>Norland Agency</strong></p>
      </div>
      {{> footer}}
    </div>
  </body>
</html>