<!DOCTYPE html>
<html>
  <head>
    <title>Request for Verification of Employment Reference</title>
    {{> meta}}
    {{> styles}}
  </head>
  <body>
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td align="center">
          {{> header}}
          <table role="presentation" class="container">
            <tr>
              <td>
                <h1>Request for Verification of Employment Reference</h1>
                <p class="bottom-space">Dear {{clientName}},</p>
                <p class="bottom-space">
                  I am reaching out on behalf of Norland Agency. We are currently assisting
                  <strong>{{nannyFirstName}} {{nannyLastName}}</strong> in securing a new position.
                  As part of our standard process, we are seeking to confirm the details of the
                  reference they have provided regarding their period of employment with you.
                </p>
                <p>
                  Please click the 'Verify Reference' button below to review and confirm the details of the reference.
                </p>
                <a href="{{returnUrl}}" class="button" target="_blank" rel="noopener noreferrer">Verify Reference</a>
                <p class="bottom-space">
                  If you have any additional comments or concerns regarding {{nannyFirstName}}'s performance
                  or employment history, please do not hesitate to share them with me directly.
                </p>
                <p class="bottom-space">Best regards,</p>
                <p><strong>Norland Agency</strong></p>
              </td>
            </tr>
          </table>
          {{> footer}}
        </td>
      </tr>
    </table>
  </body>
</html>
